@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
html, body{
    font-family: 'Quicksand', sans-serif;
    margin: 0px 0px 10px 0px;
    text-rendering: optimizeLegibility;
}
.alert {
    top: 47px;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    position: sticky;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.a {
    color: #7fb6ff;
    transition: 0.3s;
}
.a:hover {
    color: #63a6ff;
    text-decoration: underline;
}
.a:active {
    color: #4d97f9;
}
.closebtn:hover {
    color: #eaeaea;
}
.closebtn:active {
    color: #e5e5e5;
}
a {
    text-decoration: none;
}

h1 {
    font-family: 'Pacifico', cursive;
    background-color: #23272A;
    text-align: center;
    color: #e5e6e6;
    padding: 40px;
    font-size: 3em;
    margin: 0;
    text-shadow: 1px 1px #23272A;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
h1.index {
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100%;
    background-image: url("https://i1.sndcdn.com/avatars-000283354129-5s27v3-t500x500.jpg");
	background-position: center;
}
h1.rules {
	background-repeat: no-repeat;
    background-image: url("https://i.ytimg.com/vi/cXdDxytmhJI/maxresdefault.jpg");
    background-attachment: fixed;
	background-size: 100%;
	background-position: center;
}
@media only screen and (max-width: 1368px) {
h1 {
    background-size: 250%;
}
}
h2, h3, h4, h5, h6{
    text-align: center;
}

ol li {
    margin: 20px;
    font-size: 1.1em;
}

ol.rules {
    counter-reset: item;
    list-style-type: none;
}

ol.rules li:before {
    content: 'Rule ' counter(item, decimal) '. ';
    counter-increment: item;
    font-weight: bold;
}

#footer {
    background-color: #23272A;
    padding: 30px 0px 10px 0px;
    text-align: center;
    color: white;
}
#footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#footer a:visited {
    color: #e5e6e6;
    text-decoration: none;
}

p {
    margin: 10px 20px;
    font-weight: bolder;
    font-size: 1.1em;
    text-align: center;
}

/*colors*/
.MasterOfDisguise{
    color: #E67E22;
}

.ServerManager{
    color: #B0B2B6;
}

.Villain {
    color: #AD1457;
}

.MasterNETective {
    color: #cf9346;
}

.ContentCop {
    color: #3498DB;
}

.ContentInspector {
    color: #ff0061;
}

.Stingy {
    color: #927D3A;
}

.Superhero {
    color: #d61515;
}

.History {
    color: #C27C0E;
}

.AllStar {
    color: #206694;
}

.First {
    color: #d7342a;
}

.BigBen {
    color: #ffa000;
}

.LAMBSAUCEEEE {
    color: #A84300;
}

.covfefe {
    color: #913B9F;
}

.Vsauce {
    color: #65ff00;
}

.BananaPeel {
    color: #f5db22;
}

.Pirate {
    color: #119e0b;
}

.TheLegend27 {
    color: #913B9F;
}

.ContestWinner {
    color: #c304ff;
}

.OverwatchChampion {
    color: #F1C40F;
}

.MemeWarChampion {
    color: #08b3a5;
}

.EarlyMemer {
    color: #7d8199;
}

.Sportabot{
    color: #546E7A;
}
