/* PHONE */

.desktop {
    display: none;
}

.mobile {
    display: block;
}

.left {
    position: relative;
    height: 100%;
}

.openmenu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 10px;
}

.right {
    width: calc(100% - 50px);
    margin-right: 10px;
}

.searchbar {
    width: calc(100% - 20px);
}

.openmenu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

#mobilemenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}