@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 0px 0px;
    transition: 0.2s ease;
    background-image: url("https://cdn.discordapp.com/attachments/290708486516637696/364267633702469632/Screenshot_1.png");
    background-size: 120%;
    background-attachment: fixed;
    transition: 3s ease-in-out;
    animation: startup 5s ease;
}

@keyframes startup {
    0% {
        background-size: 140%;
    }
    100% {
        background-size: 120%;
    }
}

/* PROFILE PICTURE */
.pfp {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 200px;
    width: 200px;
}

.pfp .picture {
    position: absolute;
    border-radius: 100%;
    border: 10px #f4f4f4 solid;
    z-index: 1;
    display: block;
    pointer-events: none;
    margin: -10px;
    top: 0px;
}

.pfp .circle {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
    border: 5px #f4f4f4 solid;
    bottom: 0;
    right: 0;
}
.pfp [class="circle"] {
    display: none;
}
.pfp .circle.offline {
    background-color: #747f8d;
}
.pfp .circle.online {
    background-color: #43b581;    
}
.pfp .circle.away {
    background-color: #faa61a;    
}
.pfp .circle.dnd {
    background-color: #f04747;    
}
/* END PROFILE PICTURE */

/* USERNAME INFO */
.usernameinfo {
    position: absolute;
    top: 50px;
    left: 300px;
    width: calc(100% - 400px);
}

.usernameinfo .hoistrole {
    font-size: 25px;
    text-align: center;
    background-color: #f4f4f4;
    padding: 0px 4px;
    margin-left: 100px;
}
.usernameinfo .backbar {
    border-bottom: 1px solid black;
    width: 100%;
    height: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.usernameinfo .nickname {
    font-weight: bold;
    font-size: 40px;
}

.usernameinfo .bot {
    background-color: #7289da;
    border-radius: 6px;
    color: #ffffff;
    font-weight: 500;
    padding: 3px 6px;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 6px;
}

.usernameinfo .tag {
    margin-top: -15px;
    margin-left: 1px;
}
.usernameinfo .tag .username {
    font-weight: bold;
    font-size: 25px;
}
.usernameinfo .tag .discriminator {
    color: gray;
    font-weight: bold;
    font-size: 10px;
}

.usernameinfo .playing {
    font-size: 20px;
    font-style: oblique;
}
.usernameinfo .playing .game {
    font-weight: bold;
}

.usernameinfo .joined {
    font-size: 20px;
}
.usernameinfo .joined span {
    font-weight: bold;
}

.usernameinfo .level {
    font-size: 20px;
}
.usernameinfo .level span {
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;    
}

.usernameinfo .warns {
    font-size: 20px;
}
.usernameinfo .warns a {
    font-weight: bold;
}
.usernameinfo .warns a:hover {
    color: #f04747;
}
/* END USERNAME INFO */

/* CONTENT */
.content {
    margin-top: 275px;
}

.content .ban {
    z-index: 100;
    position: absolute;
    display: block;
    background-color: red;
    transition: 0.2s ease;
    cursor: pointer;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    color: white;
    padding: 4px;
    font-size: 30px;
    top: 230px;
    left: 30px;
}

.content .ban:hover {
    transition: 0.4s ease;
    background-color: #980000;
    box-shadow: inset 0 0 24px #3c0000;
}

.content .backbar span {
    display: inline;
    font-size: 25px;
    color: #777777;
    text-align: center;
    background-color: #f4f4f4;
    padding: 0px 10px;
    margin-left: 30px;
}
.content .backbar {
    text-align: left;
    border-bottom: .4px solid #b7b7b7;
    width: 75%;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.content .bio {
    display: inline-block;
    margin-left: 20px;
}

.content .info {
    width: calc(100% - 60px);
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}
.content .info .name {
    font-weight: bold;
}
/* END CONTENT */



/* VV CLEAN UP / REMOVE VV */

.warns {
    color: black;
    outline: none;
}

.headingstuff h1 {
    margin-left: 50px;
}

.yep {
    text-align: center;
    color: #777777;
    font-family: 'Pacifico', cursive;
    margin-top: 0px;
    margin-bottom: -20px;
    display: block;
}



.fa {
    padding: 10px;
    font-size: 23px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    margin-left: 25px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: grey;
    color: white;
    transition: 0.15s ease;
}

.fa-twitter:hover {
    background: #55ACEE;
    transition: 0.2s ease;
}

.fa-youtube {
    background: grey;
    color: white;
    transition: 0.15s ease;
}

.fa-youtube:hover {
    background: #bb0000;
    color: white;
    transition: 0.2s ease;
}

.fa-instagram {
    background: grey;
    color: white;
    transition: 0.15s ease;
}

.fa-instagram:hover {
    background: #125688;
    color: white;
    transition: 0.2s ease;
}

.up {
    margin-top: -55px;
}

.fa-snapchat-ghost {
    background: grey;
    color: white;
    transition: 0.15s ease;
}

.fa-snapchat-ghost:hover {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: 0.2s ease;
}

.mod {
    color: black;
    transition: 0.15s ease;
}

.mod:hover {
    color: #5a9bec;
    transition: 0.2s ease;
}

.vsauce {
    color: black;
    transition: 0.15s ease;
}

.roleup {
    margin-top: -20px;
}

.vsauce:hover {
    color: #8efa06;
    transition: 0.2s ease;
}

.jake {
    color: black;
    transition: 0.15s ease;
}

.jake:hover {
    color: #cece16;
    transition: 0.2s ease;
}

.pirate {
    color: black;
    transition: 0.15s ease;
}

.pirate:hover {
    color: #ffb22a;
    transition: 0.2s ease;
}

.enlisted {
    color: black;
    transition: 0.15s ease;
}

.enlisted:hover {
    color: #9b59b6;
    transition: 0.2s ease;
}

.mwchamp {
    color: black;
    transition: 0.15s ease;
}

.mwchamp:hover {
    color: #11806a;
    transition: 0.2s ease;
}

.allstar {
    color: black;
    transition: 0.15s ease;
}

.allstar:hover {
    color: #7d0061;
    transition: 0.2s ease;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.profile {
    position: relative;
    margin: auto;
    margin-top: 110px;
    max-width: 1000px;
    min-width: 260px;
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 0 3px #bdbdbd;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.boxmod {
    text-align: center;
    width: 95%;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    background-color: #5a9bec;
}

.roles {
    text-align: center;
    right: 0;
    background-color: #f4f4f4;
    position: absolute;
    margin-top: -370px;
    width: 260px;
    padding: 10px;
    box-shadow: 0 0 3px #bdbdbd;
    border-radius: 8px;
    margin: auto;
    position: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.roleshead {
    margin-top: 5px;
}

.hrroles {
    border-width: 0.4px;
}

@media only screen and (max-width: 720px) {
    html,
    body {
        background-size: 400%;
        animation: none;
    }
}