@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
    width: 100%;
    /* height: 100%; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 0px 0px;
    transition: 0.2s ease;
    background-image: url("https://cdn.discordapp.com/attachments/290708486516637696/364267633702469632/Screenshot_1.png");
    background-size: 120%;
    background-attachment: fixed;
    transition: background-size 3s ease-in-out;
    animation: startup 5s ease;
}

@keyframes startup {
    0% {
        background-size: 140%;
    }
    100% {
        background-size: 120%;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* PROFILE */
.profile {
    position: relative;
    max-width: 1000px;
    min-width: 260px;
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 0 3px #bdbdbd;
    border-radius: 8px;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 20px;
    margin-bottom: 100px;
}
/* END PROFILE */

/* PROFILE PICTURE */
.pfp {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.pfp .picture {
    position: absolute;
    border-radius: 100%;
    border: 10px #f4f4f4 solid;
    z-index: 1;
    display: block;
    pointer-events: none;
    margin: -10px;
    top: 10px;
}

.pfp .circle {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
    border: 5px #f4f4f4 solid;
    bottom: 0;
    right: 0;
}
.pfp [class="circle"] {
    display: none;
}
.pfp .circle.offline {
    background-color: #747f8d;
}
.pfp .circle.online {
    background-color: #43b581;    
}
.pfp .circle.away {
    background-color: #faa61a;    
}
.pfp .circle.dnd {
    background-color: #f04747;    
}

.pfp .roles {
    float: right;
    text-align: center;
    background-color: #f4f4f4;
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    padding-top: 220px;
    box-shadow: 0 0 3px #bdbdbd;
    border-radius: 8px;
    position: inherit;
    left: -10px;
    line-height: 40px;
}
.pfp .roles .header {
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
}

.pfp .roles .tag {
    margin-top: 5px;
    margin-bottom: -5px;
}
.pfp .roles .tag .username {
    font-weight: bold;
    font-size: 25px;
}
.pfp .roles .tag .discriminator {
    color: gray;
    font-weight: bold;
    font-size: 10px;
}

.pfp .roles hr {
    border-width: 0.4px;
    border-bottom: 1px solid #b7b7b7;
}

.pfp .roles a {
    line-height: 20px;
    height: 20px;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0px 2px;
}
.pfp .roles a:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5));
    color: #f4f4f4;
}
/* END PROFILE PICTURE */

/* USERNAME INFO */
.usernameinfo {
    position: absolute;
    top: 50px;
    left: 300px;
    width: calc(100% - 400px);
}

.usernameinfo .hoistrole {
    font-size: 25px;
    text-align: center;
    background-color: #f4f4f4;
    padding: 0px 4px;
    margin-left: 100px;
}
.usernameinfo .backbar {
    border-bottom: 1px solid black;
    width: 100%;
    height: 20px;
    text-align: left;
    margin-bottom: 10px;
}
.usernameinfo .ban {
    z-index: 100;
    display: inline-block;
    background-color: red;
    transition: 0.2s ease;
    cursor: pointer;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    color: white;
    padding: 4px;
    font-size: 30px;
    top: 230px;
    left: 30px;
}
.usernameinfo .ban:hover {
    transition: 0.4s ease;
    background-color: #980000;
    box-shadow: inset 0 0 24px #3c0000;
}

.usernameinfo .nickname {
    font-weight: bold;
    font-size: 35px;
}

.usernameinfo .bot {
    background-color: #7289da;
    border-radius: 6px;
    color: #ffffff;
    font-weight: 500;
    padding: 3px 6px;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 6px;
}

.usernameinfo .tag {
    margin-top: -15px;
    margin-left: 1px;
}
.usernameinfo .tag .username {
    font-weight: bold;
    font-size: 25px;
}
.usernameinfo .tag .discriminator {
    color: gray;
    font-weight: bold;
    font-size: 10px;
}

.usernameinfo .playing {
    font-size: 20px;
    font-style: oblique;
}
.usernameinfo .playing .game {
    font-weight: bold;
}

.usernameinfo .joined {
    font-size: 20px;
}
.usernameinfo .joined span {
    font-weight: bold;
}

.usernameinfo .level {
    font-size: 20px;
}
.usernameinfo .level a {
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;    
}
.usernameinfo .level a:hover {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;        
}

.usernameinfo .warns {
    font-size: 20px;
}
.usernameinfo .warns a {
    font-weight: bold;
}
.usernameinfo .warns a:hover {
    color: #f04747;
}
/* END USERNAME INFO */

/* CONTENT */
.content {
    margin-top: 275px;
    margin-left: 300px;
    width: 60%;
    display: inline-block;
}

.content .backbar span {
    display: inline;
    font-size: 25px;
    color: #777777;
    text-align: center;
    background-color: #f4f4f4;
    padding: 0px 10px;
    margin-left: 30px;
}
.content .backbar {
    text-align: left;
    border-bottom: .4px solid #b7b7b7;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.content .bio {
    display: inline-block;
    margin-left: 20px;
    width: calc(100% - 20px);
    word-wrap: break-word;
    white-space: normal;
}

.content .info {
    width: calc(100% - 60px);
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}
.content .info .name {
    font-weight: bold;
}
/* END CONTENT */



/* MOBILE CHANGES */
@media only screen and (max-width: 720px) {
    html,
    body {
        background-size: 400%;
        animation: none;
    }
}