/* Text Fonts */
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

/* font-family: 'Pacifico', cursive; (this is for headers btw like "why should I join the memecup") */

/* The coding starts here. */

html, body {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 	padding: 0;
 	margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease !important;
}

.livecircle {
  display: inline-block;
  background-color: #db0d0d;
  width: 25px;
  height: 25px;
  margin-bottom: -3px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100%;
  animation: redlive 4s ease infinite;
  box-shadow: inset 0 0 3px #610000;
}
.streamhead {
  position: fixed;
  top: -48px;
  transition: 0.7s ease;
  box-shadow: 0 0 5px rgba(35, 35, 35, 0.7);
  background-color: rgba(35, 35, 35, 0.95);
}

.streamhead:hover {
  color: white;
  top: 0px;
  background-color: rgba(51, 51, 51, 0.8);
}
.streamhead:hover a {
  color: white;
}
.streamhead a {
  color: white;
  border-right: 1px white solid;
}
nav {
  background-color: white;
  width: 100%;
  z-index: 200;
  position: fixed;
  top: 0px;
  left: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  box-shadow: 0 0 5px black;
  transition: 0.2s ease;
}

.streamnav {
  padding-bottom: 20px;
}

.streamnav:hover {
  color: white;
  padding-bottom: 7px;
}
nav a {
  font-weight: 700;
  color: black;
  padding: 5px;
  font-size: 30px;
  padding-left: 1px;
  text-decoration: none;
  border-right: 1px #dbdbdb solid;
}

.navright {
  float: right;
  padding-right: 15px;
  border: none;
}

.navright a {
  border: none;
  background-color: grey;
  padding: 3px;
  margin-top: -2px;
  border-radius: 4px;
  background-color: #424242;
  box-shadow: none;
  transition: 0.2s ease;
  color: white;
  margin-right: -8px;
}

.ileft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.i {
  border: solid white;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 7px;
  margin-left: 7px;
  margin-right: -7px;
  transition: 0.2s ease;
}

.navright a:hover {
  box-shadow: inset 0 0 3px black;
  background-color: #323232;
}

.navright a:active {
  background-color: #282828;
  box-shadow: inset 0 0 9px black;
}

.herovideo {
  z-index: 0;
  position: fixed;
  top: -0px;
  left: 0;
  right: 0;
  width: 100%;
}
.hero {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 400px rgba(0,0,0,0.8) inset;
  padding-top: 10%;
  bottom: 0;
}
footer {
  padding: 5px;
  font-size: 30px;
  background-color: #eee;
  color: #2b2b2b;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}
.leaderboard {
    border-spacing: 0;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #3f3f3f;
    border: none;
}

th {
   background-color: #161616;
}
.main {
  display: inline-block;
  opacity: 1;
  transition: 0.2s ease;
}
.leaderboard th, td {
    padding: 8px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
}

.yeses {
  border-right: 2px solid #686868;
}

.leaderboard tr:nth-child(even){background-color: #262626}

.hero a {
  text-decoration: none;
  color: white;
  font-family: 'Hind Madurai', sans-serif;
  border: 4px white solid;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0.5px;
  font-size: 35px;
  margin-left: 12px;
  margin-right: 12px;
  transition: 0.3s ease;
  box-shadow: none;
  text-shadow: none;
}

.hero a:hover {
  transition: 0.5s ease;
  background-color: rgba(0,0,0, 0.5);
  box-shadow: 0 0 5px black;
  text-shadow: 0 0 5px black;
}

.hero a:active {
  transition: 0.3s ease;
  background-color: rgba(0,0,0, 0.8);
  box-shadow: 0px 0px 11px black;
  text-shadow: 0 0 9px black;
}

#goback {
  text-decoration: none;
  color: white;
  font-family: 'Hind Madurai', sans-serif;
  border: 4px white solid;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 30px;
  transition: 0.3s ease;
  box-shadow: none;
  text-shadow: none;
}

#goback:hover {
  transition: 0.5s ease;
  background-color: rgba(0,0,0, 0.5);
  box-shadow: 0 0 5px black;
  text-shadow: 0 0 5px black;
}

#goback:active {
  transition: 0.3s ease;
  background-color: rgba(0,0,0, 0.8);
  box-shadow: 0px 0px 11px black;
  text-shadow: 0 0 9px black;
}
.herologo {
  display: block;
  margin: auto;
  width: 20%;
  transition: 0.2s ease;
  margin-bottom: 15px;
  box-shadow: 0px 0px 7px 0px black;
  border-radius: 12px;
}
.mobilestuffino {
  display: none;
}
.herotitle {
  font-family: 'Hind Madurai', sans-serif;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
    transition: 0.2s ease;
}

.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    border-radius: 50%;
    transition: 0.2s ease;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #bbb;
    box-shadow: inset 0 0 3px #6e6e6e;
}

.container:hover input ~ .checkmark2 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    transition: 0.2s ease;
    background-color: #2196F3;
    box-shadow: inset 0 0 3px #0d64aa;
}

.container input:checked ~ .checkmark2 {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
#someabove {
  margin-left: -67.5px;
  font-size: 18px;
  position: relative;
  bottom: 5px;
  margin-right: 17.5px;
  display: none;
  opacity: 0.0;
  transition: 0.2s ease;
  z-index: 1;
}
#some {
  z-index: 2;
}
#someabove:hover {
  opacity: 1;
  bottom: 25px;
  display: initial;
  transition: 0.2s ease;
  animation: hover 0.4s ease;
}
#some:hover ~ #someabove {
  opacity: 1;
  bottom: 25px;
  display: initial;
  transition: 0.2s ease;
  animation: hover 0.4s ease;
}
.ahaa {
  transition: 1s ease;
  font-size:120px;
}
#output {
  text-align: left;
  position:fixed;
  top:0px;
  margin-top:-3px;
  left:0;
  transition: 0.2s ease;
}
.ahaa:active {
  transition: 0.4s ease;
  font-size: 140px;
}
@keyframes hover {
  0% {  margin-left: -67.5px;
    font-size: 18px;
    position: relative;
    bottom: 5px;
    margin-right: 17.5px;
    display: none;
    opacity: 0.0;
    transition: 0.2s ease;}
    50% {  opacity: 1;
      bottom: 25px;
      display: initial;
      transition: 0.2s ease;}
}
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark2:after {
    display: block;
    transition: 0.2s ease;
}
.container .checkmark2:after {
  top: 8px;
  left: 8px;
  width: 10px;
  height: 10px;
    opacity: 1;
	border-radius: 100%;
	background: white;
    animation: aha2 0.4s linear;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: inline-block;
    transition: 0.2s ease;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
opacity: 0.0;
width: 25px;
height: 25px;
left: 0px;
top: 0px;
opacity: 0.0;
	border-radius: 100%;
	background: white;
    animation: aha 0.6s ease;
}
.form {
  background-color: #10569d;
}
input[name=discorduser] {
font-family: 'Quicksand', sans-serif;
outline: none;
border-radius: 2px;
border: 1px #aeaeae solid;
font-size: 15px;
transition: 0.2s ease;
}
input[name=discorduser]:focus {
border: 1px #858585 solid;
box-shadow: inset 0 0 1px #000000ba;
}
input[name=discorduser]:hover {
  border: 1px #858585 solid;
  box-shadow: inset 0 0 1px #000000ba;
}
input[type=submit] {
border-radius: 2px;
border: none;
font-size: 25px;
font-family: 'Rubik', sans-serif;
background-color: #696969;
outline: none;
color: white;
cursor: pointer;
transition: 0.2s ease;
}
input[type=submit]:hover {
background-color: #555555;
}
input[type=submit]:active {
background-color: #464646;
}
.formhead {
  text-align: center;
  margin: auto;
  width: 100%;
  display: inline-block;
  position: sticky;
  top: 0;
  padding: 10px;
  box-shadow: 0 0 7px #000000a3;
  background-color: #10569d;
  color: white;
  z-index: 3;
}
.formreminder {
  text-align: center;
  margin: auto;
  width: 80%;
  display: inline-block;
  background-color: #10569d;
  color: white;
}
@keyframes aha {
0% {
opacity: 0.0;
width: 0px;
height: 0px;
left: 12.5px;
top: 12.5px;
}
50% {
opacity: 0.4;
width: 25px;
height: 25px;
left: 0px;
top: 0.3px;
}
100% {
opacity: 0.0;
width: 0px;
height: 0px;
left: 12.5px;
top: 12.5px;
}
}
@keyframes aha2 {
0% {
opacity: 0.0;
width: 0px;
height: 0px;
left: 13px;
top: 13px;
}
100% {
 top: 8px;
  left: 8px;
  width: 10px;
  height: 10px;
  opacity: 1;
}
}

.formtop {
  width: 80%;
  margin: auto;
  display: inline-block;
  text-align: left;
  padding: 10px;
  background-color: #eee;
}
.formbody {
  text-align: left;
  width: 80%;
  padding: 10px;
  margin: auto;
  display: inline-block;
  background-color: #eee;
}
body {
    margin: 0;
}
/* Create two unequal columns that floats next to each other */
.column {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    height: 400px;
    margin-top: -4px;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #191919;
}

::-webkit-scrollbar
{
  transition: 0.5s ease;
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.left {
  left: 0;
  width: 25%;
}

.right {
  right: 0;
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: ;
    clear: both;
}
.section {
}
.sectiontop {
  margin-top: -23px;
  background-color: blue;
  padding-bottom: 0.3px;
}
.sectionbody {
  margin-top: -23px;
  padding-bottom: 0.1px;
  background-color: red;
}
.sectiontop h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 700;
}

.status {
  font-size:160px;
  margin-top:-20px;
}

.hahayes {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  left: 0;
}
.mostkill {
  font-size:160px;
  margin-top:-20px;
}

.ping {
  font-size:160px;
  margin-top:-20px;
}

.left {
  min-width: 450px;
}
.viewers {
  font-size:160px;
  margin-top:-20px;
}
@media screen and (max-width: 768px) {
  .mobilestuffino {
    display: inline-block;
  }
  .herovideo {
    width: 400%;
  }
  .herologo {
    width: 80%;
    margin-top: 70px;
  }
  .players {
    display: none;
  }
  .lead {
    display: none;
  }
  .status {
    font-size:80px;
    margin-top:0px;
  }

  .mostkill {
    font-size:80px;
    margin-top:0px;
  }

  .ping {
    font-size:80px;
    margin-top:0px;
  }

  .viewers {
    font-size:80px;
    margin-top:0px;
  }
  .left {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .main {
    display: none;
    opacity: 0;
  }
}

@media screen and (max-width: 1919px) {

  .players {
    display: none;
  }
  .lead {
    display: none;
  }
  .status {
    font-size:80px;
    margin-top:0px;
  }

  .mostkill {
    font-size:80px;
    margin-top:0px;
  }

  .ping {
    font-size:80px;
    margin-top:0px;
  }

  .viewers {
    font-size:80px;
    margin-top:0px;
  }
  .left {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .streamhead {
    color: white;
    top: 0px;
    background-color: rgba(51, 51, 51, 0.8);
  }
  .streamhead a {
    color: white;
    border-right: 1px white solid;
  }
  .streamnav {
    color: white;
    padding-bottom: 7px;
  }
}

@media screen and (min-width: 1921px) {
  .players {
    display: none;
  }
  .lead {
    display: none;
  }
  .status {
    font-size:80px;
    margin-top:0px;
  }

  .mostkill {
    font-size:80px;
    margin-top:0px;
  }

  .ping {
    font-size:80px;
    margin-top:0px;
  }

  .viewers {
    font-size:80px;
    margin-top:0px;
  }
  .left {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@keyframes redlive {
  0% {
    background-color: #db0d0d;
  }
  50% {
    background-color: #a00404;
  }
  100% {
    background-color: #db0d0d;
  }
}
