html, body{
    margin: 0px 0px 10px 0px;
    text-rendering: optimizeLegibility;
}

ol {
    counter-reset: item;
    list-style-type: none;
}

ol li {
    margin: 20px;
    font-size: 1.1em;
}

h1 {
    background-color: #23272A;
    text-align: center;
    color: #e5e6e6;
    padding: 40px;
    font-size: 3em;
    margin: 0;
}

ol li:before {
    content: 'Rule ' counter(item, decimal) '. ';
    counter-increment: item;
    font-weight: bold;
}

#footer {
    background-color: #23272A;
    padding: 30px 0px 10px 0px;
    text-align: center;
    color: white;
}
#footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#footer a:visited {
    color: #e5e6e6;
    text-decoration: none;
}

p {
    margin: 10px 20px;
    font-weight: bolder;
    font-size: 1.1em;
    text-align: center;
}